body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.8rem;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: grey;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-top-width: 12px;
  width: 6%;
  color: #EAF6F6;
  margin: 100px auto;
}

p{
  line-height: 2;
}

.top-Container {
  background-color: #a6f6f1;
  margin: 0;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #a6f6f1;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  top: 400px;
  left: 250px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 80px auto;
  text-align: left;
  padding-top: 50px;
}
.skill-row-2{
  margin-bottom: 200px;
}
.code-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 500px;
  background-color:  #a6f6f1;

}
.backend-image{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 500px;
  background-color:  #a6f6f1;
}
.intro{
  width: 30%;
  margin: auto;

}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link{
  color: #11999E;
}
.programmer{
  font-weight: normal;
  line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color: white;
  font-size: 1rem;
  padding: 20px 0;
}
